@model Dictionary<string, string>
@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@
@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/GameHub.js"></script>
    <script>
        var roomTables = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    </script>
}
<style>
    .clear{
        clear:both;
    }
    .row .rooms dd {
        float: left;
        min-width: 100px;
    }
    .row .col-room {
        width: 363px;
        height:440px;
        border: 1px solid red;
        margin-right: 10px;
    }

        .row .col-room .title, .row .col-room .number, .row .col-room .result, .row .col-room .recommend {
            width: 100%;
        }

        .row .col-room .number, .row .col-room .result {
            height: 182px;
            margin-top: 10px;
            border: 1px solid red;
            writing-mode: vertical-lr;
        }


            .row .col-room .number .cell {
                text-align: center;
                border: 1px solid black;
                display: block;
                float: left;
                width: 30px;
                height: 30px;
                margin: 0px;
                writing-mode: horizontal-tb;
            }
            .row .col-room .result .cell {
                text-align: center;
                border: 1px solid black;
                display: block;
                float: left;
                width: 30px;
                height: 30px;
                margin: 0px;
                writing-mode: horizontal-tb;
            }

                .row .col-room  .state-1 {
                    background-color: darkred;
                    color: white;
                }
                .row .col-room  .state-2 {
                    background-color: chartreuse;
                }
                .row .col-room  .state-3 {
                    background-color: cadetblue;
                }

</style>
<div class="row">
    <dl class="rooms" style="display:none;">
        @foreach (var item in Model)
        {
        <dd>
            <input type="checkbox" id="chk_@item.Key" name="chk_roomId" value="@item.Key" checked="checked" />
            <label for="chk_@item.Key">@item.Value</label>
        </dd>
        }
    </dl>
</div>
<dl class="row">
    @foreach (var item in Model)
    {
    <dd class="col-room" id="room_@item.Key">
        <div class="title"><span class="roomName">@item.Value</span>&nbsp;&nbsp;<b><span class="roomIndex"></span></b>&nbsp;&nbsp;<span class="roomDate"></span></div>
        <div class="number">loading...</div>
        <div class="result">loading...</div>
        <div class="recommend"></div>
        <div class="clear"></div>
    </dd>
    }
</dl>